@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #111111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cpath fill='%23252525' d='M50 28.5L32 46.5l3.8 3.8L50 36zm0 0l14.3 14.3 3.7-3.8L50 28.5zm0 53L14.6 46.3v7.5L50 89zm0 0l35.4-35.4v7.5L50 89zM50 10.9L14.6 46.3l35.4 35.4 35.4-35.4zm0 53L32.3 46.3 50 28.5l17.7 17.8zM0 78.5v7.5l14.3 14.3 3.8-3.8zm35.4 21.5v-3.8l-3.8 3.8zm-21.5 0l17.7-17.7L0 60.9v17.7zm100-21.5l-18 18 3.8 3.7 18-18zm-31.7 21.5v-3.7l-3.7 3.7zm17.7-3.7l-3.7-3.8L100 78.5v17.7zM64.6 0v3.8L100 39.1V31.6zm35.4 13.9V31.6L68.4 0H86zM31.6 0L0 31.6v7.5l35.4-35.4zm0 0L0 13.9 13.9 0z'/%3E%3C/svg%3E");
}

/* font Morabba */
@font-face {
    font-family: "Morabba";
    src: url('../src/font/Morabba.ttf');
}
/* font Morabba */
@font-face {
    font-family: "yekan";
    src: url('../src/font/yekan.TTF');
}
/* font ARDESTINE */
@font-face {
    font-family: "ARDESTINE";
    src: url('../src/font/ARDESTINE.ttf');
}
